.wrapper {
    padding: 0 30px;
}

.btn-ok.btn,
.btn-cancel.btn {
    font-weight: 600;
    color: #fff;
    background-color: #f882c1;
    margin-top: 0;
    margin-right: 0;
}

.btn-ok {
    margin-right: 73px;
}

.footer {
    display: block;
    text-align: center;
    margin-top: 20px;
}
