.container {
    padding: 20px;
}

.header {
    font-size: 18px;
    color: #881CDD;
    display: flex;
}

.back-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.4rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.content-container {
    margin-top: 1rem;
}

.list-zodiac {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
    row-gap: 30px;
    column-gap: 10px;
}

.content-header{
    color: #881CDD;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;   
}

.container-btn {
    max-width: 15rem;
    padding: 1rem 1.5rem;
    background-color: #F4E7FF;
    margin: 4rem auto 2rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn-info {
    color: #7A0AD2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-submit {
    background-color: transparent;
    margin-left: 0.5rem;
    font-size: 2.3rem;
    color: #7A0AD2;
    cursor: pointer;
}


