:root {
    --space-left: 30px;
}

.container {
    padding: 20px 30px;
}

.title {
    padding-left: var(--space-left);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.form-setting {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    padding: 25px 75px 25px var(--space-left);
    border-top: 2px solid var(--border-color);

    .name-item {
        min-width: 200px;
    }

    .body-item {
        flex: 1;
    }

    .input-container {
        position: relative;
    }

    .eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    input {
        border: 1px solid #d6d6d6;
        width: 100%;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .desc-item {
        font-size: 13px;
        font-weight: 300;
        margin-top: 10px;
    }
}

.update-error {
    font-size: 14px;
    color: #e44a3e;
}

.submit-contaniner {
    display: flex;
    justify-content: flex-end;
    .submit-btn {
        min-width: 90px;
        height: 35px;
        background-color: #fb85c3;
        color: var(--white);
        font-size: 16px;
        cursor: pointer;
    }
}
