.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
    span {
        font-weight: 500;
        color: #da0d58;
    }
}

.info-user {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fullname {
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.nickname {
    font-style: italic;
    text-align: left;
}
.time-post {
    font-size: 13px;
    margin-top: 5px;
    font-style: italic;
}
.content {
    margin-top: 5px;

    textarea {
        width: 420px;
        outline: none;
        border: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 10px;
        height: 127px;
        resize: vertical;
    }
}
.footer {
    margin-top: 10px;
}
.btn-post {
    width: 100%;
    color: #fff;
    font-weight: 600;
    background-color: #f882c1;
}
