.wrapper {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    + .wrapper {
        margin-top: 20px;
    }
}

.wrapper:last-child {
    margin-bottom: 50px;
}
