
.wrapper {
    max-width: 300px;
    padding: 20px 30px;
    background-color: #F4E7FF;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 2px 6px rgba(0, 0, 0, 0.2);

    .header {
        color: #000;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    .item-input {
        width: 100%;
        outline: none;
        border: none;
        padding: 1rem;
    }
}

